 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
            scroll-behavior: smooth;
            

        }
        :root{
            --wte: #fff;
            --red: red;
            --primaryColor: #0d8083;
            --primaryColor5: rgba(13, 128, 131,0.5);
            --darkBlack: #000;
            --b300: rgba(0,0,0,0.3);
            --teal: #1db5b8;
        }
        body{
            background: var(--darkBlack);

        }
        button{
            cursor: pointer;
        }
        .container{
            width: 100%;
            position: relative;
            display: flex;
            height: 100vh;
            gap: 20px;
            justify-content: center;
            padding: 30px;
            flex-direction: column;
        }
        .landingPage{
            background-image: linear-gradient(var(--b300),var(--b300)), url("../assets/img/bg.jpg");
            background-size: cover;
            transition: 7.5s;
            background-position: center;
            background-repeat: no-repeat;
        }
      ::-webkit-scrollbar{
        width: 0;
      }
      
        .landingPage .img{
            width: 30%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            /* z-index: ; */
            border: 2px solid var(--wte);
            box-shadow: inset 0 10px 20px  var(--wte);
            border-bottom: none;
            border-top-left-radius: 200px;
            border-top-right-radius: 200px;
        }

        nav{
            width: 100%;
            height: 100px;
            background: transparent;
            backdrop-filter: blur(4px);
            padding: 10px;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            z-index: 99;
            justify-content: space-between;
            background-color: var(--b300);
        }
        nav .logo{
            display: flex;
            height: 100%;
            position: relative;
            width: auto;
            cursor: pointer;
            align-items: center;
        }
        nav .logo img{
            height: 100%;
            filter: drop-shadow(0 0 15px var(--primaryColor));
            
        }
        ::selection{
            color: var(--primaryColor);
        }
        nav h1{
            color: var(--wte);
            font-variant: small-caps;
            font-size: 2em;
            /* text-shadow: 0px 0px 10px var(--primaryColor); */
            filter: drop-shadow(0 0 10px var(--primaryColor));
            -webkit-text-stroke: 2px solid var(--primaryColor);
        }
        nav ul {
            display: flex;
            list-style-type: none;
            gap: 30px;
            /* width: 100%; */
            
        }
        nav ul li{
            color: var(--wte);
            text-shadow: 0 0 10px var(--wte);
            font-size: 1.3em;
            cursor: pointer;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        nav ul li.active a{
            color: var(--primaryColor);
            text-shadow:  0 0 10px var(--primaryColor);
        }
        nav ul li a{
            text-decoration: none;
        }
        .bubble{
            position: absolute;
            /* border-radius: 50%; */
            bottom: 0;
            right: 0;
            /* transform: translateX(50%) translateY(50%); */
            width: 100%;
            height: 200px;
            background: var(--teal);
            filter: blur(80px);
            /* rotate: 45deg; */
        }
.container .mainHeading{
    align-self: center;
    /* text-align: center; */
    font-size: 5rem;
    font-weight: 600;
    width: 100%;

}
 button{
    height: max-content;
    width: max-content;
    /* align-self: center; */
    border-radius: 10px;  
    color: var(--wte);

    background-color: var(--primaryColor);
    padding: 10px 15px;
    font-weight: 600;
    border: none;
    font-size: 17px;
}
.container p{
    width: 90%;
    text-align: center;
    align-self: center;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}