 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
            

        }
        :root{
            --wte: #fff;
            --red: red;
            --primaryColor: #0d8083;
            --primaryColor5: rgba(13, 128, 131,0.5);
            --darkBlack: #000;
            --teal: #1db5b8;
        }
        button{
            cursor: pointer;
        }
        .landingPage{
            width: 100%;
            position: relative;
            display: flex;
            height: 100vh;
            /* background-image: url("assets/img/norbert-kowalczyk-hDSydnSLPAQ-unsplash.jpg"); */
            background-size: cover;
            background: var(--darkBlack);
            flex-direction: column;
            overflow: hidden;
            justify-content: center;
            /* display: none; */
            /* flex-wrap: wrap; */
            gap: 20px;
        }
        .landingPage .img{
            width: 30%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            /* z-index: ; */
            border: 2px solid var(--wte);
            box-shadow: inset 0 10px 20px  var(--wte);
            border-bottom: none;
            border-top-left-radius: 200px;
            border-top-right-radius: 200px;
        }

        nav{
            width: 100%;
            height: 100px;
            background: transparent;
            backdrop-filter: blur(4px);
            padding: 10px;
            position: fixed;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        nav .logo{
            display: flex;
            height: 100%;
            position: relative;
            width: auto;
            cursor: pointer;
            align-items: center;
        }
        nav .logo img{
            height: 100%;
            filter: drop-shadow(0 0 15px var(--primaryColor));
            
        }
        ::selection{
            color: var(--primaryColor);
        }
        nav h1{
            color: var(--wte);
            font-variant: small-caps;
            font-size: 2em;
            /* text-shadow: 0px 0px 10px var(--primaryColor); */
            filter: drop-shadow(0 0 10px var(--primaryColor));
            -webkit-text-stroke: 2px solid var(--primaryColor);
        }
        nav ul {
            display: flex;
            list-style-type: none;
            gap: 30px;
            /* width: 100%; */
            
        }
        nav ul li{
            color: var(--wte);
            text-shadow: 0 0 10px var(--wte);
            font-size: 1.3em;
            cursor: pointer;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        nav ul li.active{
            color: var(--primaryColor);
            text-shadow:  0 0 10px var(--primaryColor);
        }
        .bubble{
            position: absolute;
            /* border-radius: 50%; */
            bottom: 0;
            right: 0;
            /* transform: translateX(50%) translateY(50%); */
            width: 100%;
            height: 200px;
            background: var(--teal);
            filter: blur(80px);
            /* rotate: 45deg; */
        }
.landingPage .mainHeading{
    align-self: center;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    width: 100%;

}
.landingPage button{
    height: max-content;
    width: max-content;
    align-self: center;
    border-radius: 10px;  
    color: var(--wte);

    background-color: var(--primaryColor5);
    padding: 10px 15px;
    font-weight: 600;
    border: none;
    font-size: 17px;
}