 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            

        }
        :root{
            --wte: #fff;
            --red: red;
            --primaryColor: #0d8083;
        }
        button{
            cursor: pointer;
        }
        .landingPage{
            width: 100%;
            position: relative;
            display: flex;
            height: 100vh;
            /* background-image: url("assets/img/norbert-kowalczyk-hDSydnSLPAQ-unsplash.jpg"); */
            background-size: cover;
            background: #000;
        }
        .landingPage .img{
            width: 30%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            /* z-index: ; */
            border: 2px solid var(--wte);
            box-shadow: inset 0 10px 20px  var(--wte);
            border-bottom: none;
            border-top-left-radius: 200px;
            border-top-right-radius: 200px;
        }

        nav{
            width: 100%;
            height: 100px;
            background: transparent;
            backdrop-filter: blur(4px);
            padding: 10px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        nav .logo{
            display: flex;
            height: 100%;
            position: relative;
            width: auto;
            cursor: pointer;
            align-items: center;
        }
        nav .logo img{
            height: 100%;
            filter: drop-shadow(0 0 15px var(--primaryColor));
            
        }
        ::selection{
            color: var(--primaryColor);
        }
        nav h1{
            color: var(--wte);
            font-variant: small-caps;
            font-size: 2em;
            /* text-shadow: 0px 0px 10px var(--primaryColor); */
            filter: drop-shadow(0 0 10px var(--primaryColor));
            -webkit-text-stroke: 2px solid var(--primaryColor);
        }
        nav ul {
            display: flex;
            list-style-type: none;
            gap: 25px;
            /* width: 100%; */
            
        }
        nav ul li{
            color: var(--wte);
            text-shadow: 0 0 10px var(--wte);
            font-size: 1.3em;
            cursor: pointer;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        nav ul li.active{
            color: var(--primaryColor);
            text-shadow:  0 0 10px var(--primaryColor);
        }
        nav form{
            padding: 5px;
            /* background: red; */
            /* height: 60%; */
            position: relative;
            display: flex;
            /* width: 40%; */
            align-items: center;
        }
        nav form input{
            width: 350px;
            padding-left: 15px;
            height: 40px;
            outline: none;
            border: 2px solid var(--primaryColor);
            border-radius: 50px 0 0 50px;
            box-shadow: 0 0 15px 2px var(--primaryColor);
        }
        nav form button{
            height: 40px;
            border-radius: 0 50px 50px 0;
            min-width: 50px;
            text-align: center;
            box-shadow: 0 0 15px var(--primaryColor);

            outline: none;
            background: var(--primaryColor);
            border: 2px solid var(--primaryColor);
            color: var(--wte);
            font-weight: bold;


        }
